*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.about{
    width: 100%;
    height: 93%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url('https://images.unsplash.com/photo-1501177835688-e27a80e70f5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80sss'); */
    /* background-image: url('https://images.unsplash.com/photo-1592155931584-901ac15763e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1518908336710-4e1cf821d3d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1313&q=80');
}
.maincontent{
    padding: 4rem 1rem 2rem 1rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    float: right;
}